.dashboard-wrapper {
  width: calc(100vw - 100px);
  max-width: 100%;
  margin: 25px auto;
  padding: 25px;
  min-height: calc(100vh - 50px);
  border-radius: 50px;
  background-color: #272b3350;
  box-sizing: border-box;
  overflow-x: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid.grid-2 {
  grid-template-columns: 50% 50%;
}

.content-divider-dashboard {
  border: none;
  border-top: 1px solid #444;
  margin: 16px, auto;
  max-width: 85%;
  opacity: 0.5;
  box-shadow: 0 0 60px 3px rgba(94, 212, 119, 0.442);
}

.information-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 50px;
}

.label {
  font-weight: 600;
  color: #ccc;
  background: rgba(255, 255, 255, 0.04);
  padding: 4px 8px;
  border-radius: 6px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 36px;
  line-height: 1;
}

.information-part .logout-btn {
  color: #e57373;
}
.information-part .actions {
  display: flex;
  gap: 10px;
}
.image-container {
  display: block;
  border-radius: 5%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10;
}

.actions button {
  padding: 0 10px;
  font-size: 0.9rem;
  height: 36px;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  box-sizing: border-box;
}
.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tab-buttons button {
  padding: 8px 16px;
  border: none;
  background: #222;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.tab-buttons button:hover {
  background: #444;
}

.tab-buttons .active-tab {
  background: #0d6efd;
}
.tab-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tab-content .card {
  padding: 16px;
  background-color: #272b33;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tab-content .card-title {
  margin-bottom: 10px;
}

.grid {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 25% 75%;
}

.grid.grid-2-library {
  grid-template-columns: 75% 25%;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1149px) {
  .dashboard-wrapper {
    width: calc(100vw - 20px);
    max-width: 100%;
    margin: 15px auto;
    padding: 15px;
    min-height: calc(100vh - 50px);
    border-radius: 50px;
    background-color: #272b3350;
    box-sizing: border-box;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .information-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 50px;
  }

  .label {
    font-weight: 600;
    color: #ccc;
    background: rgba(255, 255, 255, 0.04);
    padding: 4px 8px;
    border-radius: 6px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 36px;
    line-height: 1;
  }

  .information-part .logout-btn {
    color: #e57373;
  }
  .information-part .actions {
    display: flex;
    gap: 10px;
  }
  .image-container {
    display: block;
    border-radius: 5%;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10;
  }

  .actions button {
    padding: 0 10px;
    font-size: 0.9rem;
    height: 36px;
    width: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1;
    box-sizing: border-box;
  }
  .tab-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .tab-buttons button {
    padding: 8px 16px;
    border: none;
    background: #222;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }

  .tab-buttons button:hover {
    background: #444;
  }

  .tab-buttons .active-tab {
    background: #0d6efd;
  }
  .tab-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tab-content .card {
    padding: 16px;
    background-color: #272b33;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .tab-content .card-title {
    margin-bottom: 10px;
  }

  .grid.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.grid-2 {
    grid-template-columns: repeat(2, 1fr);
    margin: 0, auto;
  }
}

@media (max-width: 600px) {
  .dashboard-wrapper {
    width: calc(100vw - 10px);
    max-width: 100%;
    margin: 5px auto;
    padding: 5px;
    min-height: calc(100vh - 50px);
    border-radius: 50px;
    background-color: #272b3350;
    box-sizing: border-box;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .information-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 50px;
  }

  .label {
    font-weight: 600;
    color: #ccc;
    background: rgba(255, 255, 255, 0.04);
    padding: 4px 8px;
    border-radius: 6px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 36px;
    line-height: 1;
    font-size: 0.3rem;
  }

  .information-part .logout-btn {
    color: #e57373;
  }
  .information-part .actions {
    display: flex;
    gap: 10px;
  }
  .image-container {
    display: block;
    border-radius: 5%;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10;
  }

  .actions button {
    padding: 0 10px;
    font-size: 0.9rem;
    height: 36px;
    width: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1;
    box-sizing: border-box;
  }
  .tab-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .tab-buttons button {
    padding: 8px 16px;
    border: none;
    background: #222;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }

  .tab-buttons button:hover {
    background: #444;
  }

  .tab-buttons .active-tab {
    background: #0d6efd;
  }
  .tab-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .tab-content .card {
    padding: 6px;
    background-color: #272b33;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .tab-content .card-title {
    margin-bottom: 10px;
  }

  .grid.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.grid-2 {
    grid-template-columns: repeat(2, 1fr);
    margin: 0, auto;
  }
}
