/* ComicSearch.css */

.comic-search-container {
  align-items: center;
  gap: 12px;
  margin: 24px, auto;
  padding-left: 30px;
  padding-right: 30px;
  height: 45vh;
  scroll-behavior: auto;
  overflow-y: auto;
}

.search-header {
  display: flex;
  gap: 12px;
  margin: 0 auto;
}

input[type="text"] {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
  outline: none;
  width: 100%;
}

input[type="text"]:focus {
  border-color: rgba(100, 255, 218, 0.4);
}

select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.2s;
  outline: none;
  width: 20%;
}
select:focus {
  border-color: rgba(100, 255, 218, 0.4);
}

.button-search {
  all: unset;
  padding: 8px 18px;
  background-color: rgba(100, 255, 218, 0.3);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.button-search:hover {
  background-color: rgba(100, 255, 218, 0.2);
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  min-height: 35vh;
  max-height: 50vh;
  align-items: center;
  justify-content: center;
}

.comic-card-search {
  position: relative;
  width: 160px;
  height: 220px;
  margin: 12px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.2s;
}

.comic-card-search:hover {
  transform: scale(1.03);
}
